{% extends '::baseAdmin.html.twig' %}

{% block title %}Admin | Sous-theme{% endblock %}

{% block body -%}
    <div id="breadcrumb">
        <a href="{{ path('soustheme') }}" title="" class="tip-bottom">Sous-thèmes</a>
    </div>
    {% if entities %}
        <table class="table table-striped">
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Thème</th>
                    <th>Actions</th>
                </tr>
            {% for entity in entities %}
                <tr>
                    <td>{{ entity.id }}</td>
                    <td>{{ entity.name }}</td>
                    <td>
                        {{ entity.theme.name }}
                    </td>
                    <td>
                     <ul>
                        <a href="{{ path('soustheme_edit', { 'id': entity.id }) }}">editer</a>
                    </td>
                </tr>
            {% endfor %}
        </table>
    {% else %}
       <p>Il n'y a pas de sous-thèmes</p>
    {% endif %}

    <a href="{{ path('soustheme_new') }}">Créer un sous-thème</a>

    {% endblock %}
