{% extends '::baseAdmin.html.twig' %}

{% block title %}Admin | Récompenses{% endblock %}

{% block body -%}
    <div id="breadcrumb">
      <a href="{{ path('reward') }}" title="" class="tip-bottom">Récompenses</a>
    </div>
    {% if entities %}
      <table class="table table-striped">
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Actions</th>
                </tr>
            {% for entity in entities %}
                <tr>
                    <td>{{ entity.id }}</td>
                    <td>{{ entity.name }}</td>
                    <td>
                        <a href="{{ path('reward_edit', { 'id': entity.id }) }}">editer</a>
                    </td>
                </tr>
            {% endfor %}
        </table>
    {% else %}
        <p>Il n'y a pas de récompenses</p>
    {% endif %}

    <a href="{{ path('reward_new') }}">Créer une récompense</a>
    {% endblock %}
