{% extends '::base.html.twig' %}

{% block title %}Enseignant | Accueil{% endblock %}

{% block body %}

	<h1>Enseignant</h1>

	<p>
		{% if user.etablissement is null %}
			<a href="{{ path('etablissement') }}" >Choose your etablissement</a>
		{% else %}
			etablissement : {{ user.etablissement.name }}
			{% if user.etablissement.active == 0 %}
				<br /> !! Attention, votre établissement n'est pas encore activé
			{% endif %}
			<br /><br />
			<a href="{{ path('classe') }}" >Create a classe</a>
			{% if classe | length == 0 %}
				<br />Vous n'avez pas de classes
			{% endif %}
		{% endif %}
	</p>

	<p><a href="{{ path('terra_nova_homepage') }}">Back to Index</a></p>
	<p><a href="{{ path('terra_nova_enseigant_profile_show') }}">Profile</a><br /></p>
	<p><a href="{{ path('fos_user_security_logout') }}">Déconnection</a></p>
	
{% endblock %}