{% extends "::base.html.twig" %}

{% block stylesheets %}
    {% stylesheets
        'bundles/terranova/css/enseignant_theme.sass'
        filter="cssrewrite,sass" output='css/enseignant_theme.css' %}
           <link href="{{ asset_url }}" type="text/css" rel="stylesheet" />
    {% endstylesheets %}
{% endblock %}

{% block title %}Enseignant | Thèmes{% endblock %}

{% block body %}
	<div class="content-student">
		<div class="container">
			<h1>les thèmes<br /><span>Prix unique: 3,90€</span></h1>
			<ul class="theme-list">
				{% for theme in themes %}
                    <a href="">
                        <li>
                            <div class="img-conteneur">
                                <img src="/img/theme/{{ theme.path }}" alt="{{ theme.name }}" />
                                {% if theme.name == "L'eau" %}
                                	<img class="alreadyBuy" src="{{ asset('bundles/terranova/img/alreadyBuy.png') }}" alt="package">
                                {% endif %} 
                            </div>
                            <p>{{ theme.name }}</p>
                            <span>{{ theme.ageMin }}-{{ theme.ageMax }} ans</span>
                        </li>
                    </a>
                {% endfor %}
                <a class="flex">
	                <li>
	                	<p>Bientôt de<br />nouveaux thèmes...</p>
	                </li>
	            </a>
			</ul>
		</div>
		<div class="package">
			<div class="container flex">
				<img src="{{ asset('bundles/terranova/img/package.png') }}" alt="package">
				<div class="package-price">
					<p>Le pack Wipo</p><p>25,99€</p><p>au lieu de 29,98€</p>
					<input type="image" src="{{ asset('bundles/terranova/img/button/order.png') }}"/>
				</div>
			</div>
		</div>
	</div>
{% endblock body %}