<ul class="student-list">
    {% for student in students %}
        <li>
            <a href="{{ path('Eleve_show', { 'idClasse': idClasse , 'id' : student.id }) }}">   
                <img src="{{ asset('bundles/terranova/img/bonhommes/default.png') }}">
                <div><span>{{ student.name }}<br />{{ student.firstName }}</span></div>
            </a>
        </li>
    {% endfor %}
    <li>
        <a href="{{ path('Eleve_new', { 'idClasse' : idClasse }) }}">
            {# <i class="icon-plus-sign"></i> #}<img src="{{ asset('bundles/terranova/img/bonhommes/ajouter.png') }}"><div>Ajouter<br />un élève</div>
        </a>
    </li>
</ul>
{#     <table class="records_list">
        <thead>
            <tr>
                <th>Name</th>
                <th>Firstname</th>
                <th>Age</th>
                <th>Avatar</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for student in students %}
            <tr>
                <td>{{ student.name }}</td>
                <td>{{ student.firstName }}</td>
                <td>{{ student.age }}</td>
                <td>{{ student.avatar }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('Eleve_show', { 'id': student.id, 'idClasse': idClasse }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('Eleve_edit', { 'id': student.id, 'idClasse': idClasse }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
        <a href="{{ path('Eleve_new', { 'idClasse' : idClasse }) }}">
                Create a new entry
            </a>
        </li>
    </ul> #}