<div id="container" style="min-width: 320px; height: 400px; margin: 0 auto"></div>
<ul class="student-list">
    {% for student in students %}
        <li>
            <a href="{{ path('Eleve_show', { 'idClasse': idClasse , 'id' : student.id }) }}">   
                <img src="{{ asset('bundles/terranova/img/bonhommes/default.png') }}">
                <div><span>{{ student.name }}<br />{{ student.firstName }}</span></div>
            </a>
        </li>
    {% endfor %}
    <li>
        <a href="{{ path('Eleve_new', { 'idClasse' : idClasse }) }}">
            {# <i class="icon-plus-sign"></i> #}<img src="{{ asset('bundles/terranova/img/bonhommes/ajouter.png') }}"><div>Ajouter<br />un élève</div>
        </a>
    </li>
</ul>

<script>
    $(function () {
        $('#container').highcharts({
            colors: 
                ['#d2d2d2'],
            chart: {
                type: 'column',
                backgroundColor : null
            },
            title: {
                text: ''
            },
            subtitle: {
                text: ''
            },
            xAxis: {
                type: 'category',
                labels: {
                    rotation: -45,
                    align: 'right',
                    style: {
                        fontSize: '13px',
                        fontFamily: 'Verdana, sans-serif'
                    }
                }
            },
            yAxis: {
                min: 0,
                max: 100,
                title: {
                    text: 'Reussite (%)'
                }
            },
            plotOptions: {
                column: {
                    states: {
                        hover: {
                            color: '#f8c835'                                                           
                        }
                    }
                        
                }
            },
            legend: {
                enabled: false
            },
            tooltip: {
                pointFormat: '<b>{point.y}% de Reussite</b>',
            },
            series: [{
                name: 'Reussite',
                data: [
                {% for result in results %}
                    ['{{ result.student.firstName }} {{ result.student.name }}', {{ result.success }}],
                {% endfor %}
                ],
                dataLabels: {
                    enabled: true,
                    color: '#000000',
                    align: 'center',
                    x: 0,
                    y: 0,
                    style: {
                        fontSize: '13px',
                        fontFamily: 'Verdana, sans-serif',
                        textShadow: '0 0 3px black'
                    }
                }
            }]
        });
    });
    </script>