{% extends '::base.html.twig' %}

{% block title %}Enseignant | Création d'élèves{% endblock %}

{% block body %}
	<div class="container">
		<h1>Créer un élève</h1>
		<p><a class="back" href="javascript:history.back()"><img src="{{ asset('bundles/terranova/img/back-button.png') }}" alt="back-button">retour</a></p>

		{{ form_start(form, { 'attr': {'class' : 'form-horizontal'} }) }}
		<div class="control-group">
			<label class="control-label">Nom</label>
			<div class="controls">
				{{ form_widget(form.name) }}
			</div>
		</div>
		<div class="control-group">
			<label class="control-label">Prénom</label>
			<div class="controls">
				{{ form_widget(form.firstName) }}
			</div>
		</div>
		 <div class="control-group">
			<label class="control-label">Pseudo</label>
			<div class="controls">
				{{ form_widget(form.login) }}
			</div>
		</div>
		<div class="control-group">
			<label class="control-label">age</label>
			<div class="controls">
				{{ form_widget(form.age) }}
			</div>
		</div>
		<div class="control-group">
			<label class="control-label">Classe</label>
			<div class="controls">
				{{ form_widget(form.classe) }}
			</div>
		</div>
		{{ form_widget(form.avatar) }}
		{{ form_widget(form._token) }}
		<div class="control-group">
			<div class="controls">
				<input class="etablissement-create" type="image" src="{{ asset('bundles/terranova/img/button/create.png') }}"/>
			</div>
		</div>
	</div>
{% endblock %}
