{% extends '::base.html.twig' %}

{% block stylesheets %}
    {% stylesheets
        'bundles/terranova/css/enseignant_student_profil.sass'
        filter="cssrewrite,sass" output='css/enseignant_student_profil.css' %}
           <link href="{{ asset_url }}" type="text/css" rel="stylesheet" />
    {% endstylesheets %}
{% endblock %}

{% block title %}Enseignant | Élève {{entity.firstName}} {{entity.name}}{% endblock %}

{% block body %}
    <div class="content-student">
        <div class="container">
            <h1>{{ entity.firstName }} {{ entity.name }}</h1>
            <div class="row">
                <div class="span8">
{#                     <button class="btn"><a href="javascript:history.back()">Retour aux élèves</a></button> #}
                    <p>Sélectionnez une séance jouée par {{ entity.firstName }}</p>
                        {% if seances %}
                            <ul>
                                {% for seance in seances %}
                                    <a href="{{ path('Eleve_seance', {'idClasse': entity.classe.id, 'id': entity.id, 'idSeance': seance.id }) }}">
                                        <li>
                                            <div class="img-conteneur">
                                                <img src="/img/theme/{{ seance.theme.path }}" alt="{{ entity.name }}" />
                                                <div class="hover">
                                                    <p><span>
                                                    {{ render(controller('TerraNovaBundle:Student:getResultByTheme', {'idSeance': seance.id,'idStudent': entity.id } )) }}
                                                    %</span><br />de réponses correctes</p>
                                                </div>
                                            </div>
                                            <p>{{ seance.theme.name }}</p>
                                            <span>joué le {{ seance.date|date('d/m/Y') }}</span>
                                        </li>
                                    </a>
                                {% endfor %}
                            </ul>
                        {% else %}
                            <span class="nothing">Aucune séance n'a été faites</span>
                        {% endif %}
                    <p>Remarques générales sur l'élève</p>
                    {{ render(controller('TerraNovaBundle:Student:udapteRemarksForm', { 'id': entity.id, 'idClasse': entity.classe.id} )) }}
                    <p>Bagdes obtenus</p>
                    {% if badges %}
                        {% for badge in badges %}
                            <img src="/img/trophy/{{ badge.path }}" alt="{{ badge.name }}" />
                        {% endfor %}
                    {% else %}
                        <span class="nothing">{{ entity.firstName }} n'a pas encore obtenu de badges.</span>
                    {% endif %}
                </div>
                <div class="span4">
                    <p><span>{{ result[0].success }}%</span><br />de réponses correctes en moyenne</p>
                    <p><span>
                        {% if result[0].timePassing|date('H') > 0 %}
                             {{ result[0].timePassing|date('h') }}H{{ result[0].timePassing|date('i') }}
                        {% else %}
                            {{ result[0].timePassing|date('i') }}min
                        {% endif %}
                        </span><br />passées sur Wipo</p>
                    <p><span>{{ result[0].timePassing|date('i') }}min</span><br />passées en moyenne sur cahque thème</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}