{% extends '::base.html.twig' %}

{% block stylesheets %}
    {% stylesheets
        'bundles/terranova/css/enseignant_student_profil.sass'
        filter="cssrewrite,sass" output='css/enseignant_student_profil.css' %}
           <link href="{{ asset_url }}" type="text/css" rel="stylesheet" />
    {% endstylesheets %}
{% endblock %}

{% block title %}Enseignant | Élève {{entity.name}} {{entity.firstName}}{% endblock %}

{% block body %}
    <div class="content-student">
        <div class="container">
            <h1>{{ entity.firstName }} {{ entity.name }}</h1>
            <div class="row">
                <div class="span8">
{#                     <button class="btn"><a href="javascript:history.back()">Retour aux élèves</a></button> #}
                    <p>sélectionnez une séance par {{ entity.firstName }}</p>
                        <ul>
                            {% for seance in seances %}
                                <a href="#">
                                    <li>
                                        <div class="img-conteneur">
                                            <img src="/img/theme/{{ seance.theme.path }}" alt="{{ entity.name }}" />
                                            <div class="hover">
                                                <p><span>
                                                {{ render(controller('TerraNovaBundle:Student:getResultByTheme', {'idSeance': seance.id,'idStudent': entity.id } )) }}
                                                %</span><br />de réponses correctes</p>
                                            </div>
                                        </div>
                                        <p>{{ seance.theme.name }}</p>
                                        <span>joué le {{ seance.date|date('d/m/Y') }}</span>
                                    </li>
                                </a>
                            {% endfor %}
                        </ul>
                    <p>remarque général sur l'élève</p>
                    <p>bagde obtenu</p>
                </div>
                <div class="span4">
                    <p><span>{{ result[0].success }}%</span><br />de réponses correctes en moyenne</p>
                    <p><span>
                        {% if result[0].timePassing|date('H') > 0 %}
                             {{ result[0].timePassing|date('h') }}H{{ result[0].timePassing|date('i') }}min
                        {% else %}
                            {{ result[0].timePassing|date('i') }}min
                        {% endif %}
                        </span><br />passées sur Wipo</p>
                    <p><span>{{ result[0].timePassing|date('i')/nbSeance }}min</span><br />passées en moyenne sur cahque thème</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}