{% extends '::base.html.twig' %}

{% block stylesheets %}
    {% stylesheets
        'bundles/terranova/css/enseignant.sass'
        filter="cssrewrite,sass" output='css/enseignant.css' %}
           <link href="{{ asset_url }}" type="text/css" rel="stylesheet" />
    {% endstylesheets %}
{% endblock %}

{% block title %}Enseignant | Elévès {% endblock %}

{% block body %}
    <div class="container">
        <h1>Mes élèves</h1>

        <h4 class="form-horizontal">
            <div class="control-group">
                <label class="control-label">Etablissement : {{ user.etablissement.name }}</label>
                <div class="controls">
                    <select id="selectClass">{% for class in classes %}<option data-id="{{class.id}}">{{class.name}}</option>{% endfor %}</select>
                </div>
            </div>
        </h4>

        <div class="content-student-list">
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {% javascripts
        'bundles/terranova/js/student_page.js'
    %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}