{% extends '::base.html.twig' %}

{% block stylesheets %}
    {% stylesheets
        'bundles/terranova/css/enseignant.sass'
        filter="cssrewrite,sass" output='css/enseignant.css' %}
           <link href="{{ asset_url }}" type="text/css" rel="stylesheet" />
    {% endstylesheets %}
{% endblock %}

{% block title %}Enseignant | Elévès {% endblock %}

{% block body %}
    <div class="container">
        <h1>Mes élèves</h1>
        {% if idClasse is null %} 
            <p>Vous n'avez pas de classe veillez en créer une ici :</p>
            <a href="{{ path('classe_new') }}" class="btn">Créer votre classe</a>
        {% else %}
            <h4 class="form-horizontal">
                <div class="control-group">
                    <label class="control-label">Etablissement : {{ user.etablissement.name }}</label>
                    <div class="controls">
                        <select id="selectClass">{% for class in classes %}<option data-id="{{class.id}}">{{class.name}}</option>{% endfor %}</select>
                    </div>
                    <label class="control-label"><a href="{{ path('classe_new') }}"><i class="icon-plus"></i></a></label>
                </div>
            </h4>
            <div id="container" style="min-width: 500px; height: 400px; margin: 0 auto"></div>
            <div class="content-student-list">
            </div>
        {% endif %}
    </div>
{% endblock %}

{% block javascripts %}
    {% javascripts
        'bundles/terranova/js/student_page.js'
        'bundles/terranova/hightcharts/highcharts.js'
        'bundles/terranova/hightcharts/modules/exporting.js'
    %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
    <script>
    $(function () {
        $('#container').highcharts({
            colors: 
                ['red'],
            chart: {
                type: 'column'
            },
            title: {
                text: 'World\'s largest cities per 2014'
            },
            subtitle: {
                text: 'Source: <a href="http://en.wikipedia.org/wiki/List_of_cities_proper_by_population">Wikipedia</a>'
            },
            xAxis: {
                type: 'category',
                labels: {
                    rotation: -45,
                    align: 'right',
                    style: {
                        fontSize: '13px',
                        fontFamily: 'Verdana, sans-serif'
                    }
                }
            },
            yAxis: {
                min: 0,
                title: {
                    text: 'Population (millions)'
                }
            },
            plotOptions: {
                column: {
                    states: {
                        hover: {
                            color: '#000000'                                                           
                        }
                    }
                        
                }
            },
            legend: {
                enabled: false
            },
            tooltip: {
                pointFormat: 'gdhvjg in 2008: <b>{point.y:.1f} millions</b>',
            },
            series: [{
                name: 'Population',
                data: [
                    ['Shanghai', 23.7],
                    ['Lagos', 16,1],
                    ['Instanbul', 14.2],
                    ['Karachi', 14.0],
                    ['Mumbai', 12.5],
                    ['Moscow', 12.1],
                    ['São Paulo', 11.8],
                    ['Beijing', 11.7],
                    ['Guangzhou', 11.1],
                    ['Delhi', 11.1],
                    ['Shenzhen', 10.5],
                    ['Seoul', 10.4],
                    ['Jakarta', 10.0],
                    ['Kinshasa', 9.3],
                    ['Tianjin', 9.3],
                    ['Tokyo', 9.0],
                    ['Cairo', 8.9],
                    ['Dhaka', 8.9],
                    ['Mexico City', 8.9],
                    ['Lima', 8.9]
                ],
                dataLabels: {
                    enabled: true,
                    rotation: -90,
                    color: '#FFFFFF',
                    align: 'right',
                    x: 4,
                    y: 10,
                    style: {
                        fontSize: '13px',
                        fontFamily: 'Verdana, sans-serif',
                        textShadow: '0 0 3px black'
                    }
                }
            }]
        });
    });
    </script>

{% endblock %}