{% extends '::base.html.twig' %}

{% block stylesheets %}
    {% stylesheets
        'bundles/terranova/css/enseignant.sass'
        filter="cssrewrite,sass" output='css/enseignant.css' %}
           <link href="{{ asset_url }}" type="text/css" rel="stylesheet" />
    {% endstylesheets %}
{% endblock %}

{% block title %}Enseignant | Elévès {% endblock %}

{% block body %}
    <div class="container">
        <h1>Mes élèves</h1>
        {% if idClasse is null %} 
            <p class="error-content" >Vous n'avez pas de classe veillez en créer une ici :</p>
            <a class="back" href="{{ path('classe_new') }}"><img src="{{ asset('bundles/terranova/img/plus-button.png') }}" alt="plus-button">Ajouter une classe</a>
        {% else %}
            <h4 class="form-horizontal">
                <div class="control-group">
                    <label class="control-label etablissement">Etablissement : {{ user.etablissement.name }}</label>
                    <div class="controls">
                        <select id="selectClass">{% for class in classes %}<option data-id="{{class.id}}">{{class.name}}</option>{% endfor %}</select>
                        <label class="control-label new-class"><a href="{{ path('classe_new') }}"><img src="{{ asset('bundles/terranova/img/plus-button.png') }}" alt="plus-button">Ajouter une classe</a></label>
                    </div>
                </div>
            </h4>
            <div class="content-student-list">
            </div>
        {% endif %}
    </div>
{% endblock %}

{% block javascripts %}
    {% javascripts
        'bundles/terranova/js/student_page.js'
        'bundles/terranova/hightcharts/highcharts.js'
        'bundles/terranova/hightcharts/modules/exporting.js'
    %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}