{% trans_default_domain 'FOSUserBundle' %}
<div class='connexion'>
	<form action='{{ path('fos_user_security_check') }}' method='post'>
		<fieldset>
		    <input type='hidden' name='_csrf_token' value='{{ csrf_token }}' />
		    <label for='username'>{{ 'security.login.username'|trans }}</label>
		    <input class='connexion-box' type='text' id='username' name='_username' value='{{ last_username }}' required='required' />
		    <label for='password'>{{ 'security.login.password'|trans }}</label>
		    <input class='connexion-box' type='password' id='password' name='_password' required='required' />
			
		    <ul>
		    	<li><input class='etablissement-create' type='image' src='{{ asset('bundles/terranova/img/button/connexion.png') }}'/></li>
		    	<li>
		    		<label class='checkbox remember-me'>
		    			<input type='checkbox' id='remember_me' name='_remember_me' value='on' />{{ 'security.login.remember_me'|trans }}
		    		</label>
		    		<label class='remember-me'>
		    			<a class='forget-password'href='{{ path('terra_nova_enseigant_forget_password') }}'>Mot de passe oublié ?</a>
		    		</label>
		    	</li>
		    </ul>	    
		</fieldset>
	</form>	
	{% if error %}
	    <p class='error'>{{ error|trans }}</p>
	{% endif %}
</div>

{% for type, messages in app.session.flashbag.all() %}
	{% for message in messages %}
			<p>{{ message }}</p>
	{% endfor %}
{% endfor %}