{% extends '::base.html.twig' %}

{% block title %}Enseignant | Login{% endblock %}

{% trans_default_domain 'FOSUserBundle' %}

{% block body %}

	<form action="{{ path("fos_user_security_check") }}" method="post">
	    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
	    <br />
	    <label for="username">{{ 'security.login.username'|trans }}</label>
	    <input type="text" id="username" name="_username" value="{{ last_username }}" required="required" />
	    <br />
	    <label for="password">{{ 'security.login.password'|trans }}</label>
	    <input type="password" id="password" name="_password" required="required" />
		<br />
	    <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
	    <label for="remember_me">{{ 'security.login.remember_me'|trans }}</label>
	    <br />
	    <input type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans }}" />
	</form>

	{% for type, messages in app.session.flashbag.all() %}
		{% for message in messages %}
				<p>{{ message }}</p>
		{% endfor %}
	{% endfor %}

	{% if error %}
	    <p class="error">{{ error|trans }}</p>
	{% endif %}

	<p><a href="{{ path('terra_nova_enseigant_register') }}">Go to inscription</a></p>
	<p><a href="{{ path('terra_nova_enseigant_forget_password') }}">Forget Password</a></p>

{% endblock %}