<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}{% endblock %}</title>
        {% block stylesheets %}
            {% stylesheets
                'bundles/terranova/css/style.sass'
                filter="cssrewrite,sass" output='css/style.css' %}
                   <link href="{{ asset_url }}" type="text/css" rel="stylesheet" />
            {% endstylesheets %}
        {% endblock %}
        <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
        <link rel="icon" type="image/x-icon" href="{{ asset('bundles/terranova/img/favicon/favicon2.png') }}" />
        <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    </head>
    <body>
        <div class="mp-pusher" id="mp-pusher">
            <nav id="mp-menu" class="mp-menu">
                <div class="header-menu">
                    <a class="brand" href="{{ path('terra_nova_homepage')}}"><img src="{{ asset('bundles/terranova/img/logo.png') }}" alt="Wipo"/></a>
                    {% if app.request.attributes.get('_route') == ('terra_nova_homepage') %}
                        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                            {% if is_granted("ROLE_ENSEIGNANT") %}
                                <ul>
                                    <li class="title-user right"><p>Bonjour {{app.user.name}} {{app.user.lastName}}<br /><span>{% if app.user.currentClass %}Classe courrante : {{ app.user.currentClass.name }}{% else %}Pas de classe courante{% endif %}</span></p></li>
                                    <li><a href="{{ path('Eleve_by_etablissement') }}">côté enseignant</a></li>
                                </ul>
                            {% endif %}
                            {% if is_granted("ROLE_ADMIN") %}
                                <ul>
                                    <li class="title-user right"><p>Bonjour {{app.user.name}} {{app.user.lastName}}<br /><span>Administrateur</span></p></li>
                                    {% if app.user.etablissement != null %}
                                        <li class="hidden-tablette" ><a href="{{ path('Eleve_by_etablissement') }}">côté enseignant</a></li>
                                    {% else %}
                                        <li class="hidden-tablette" ><a href="{{ path('etablissement') }}">côté enseignant</a></li>
                                    {% endif %}
                                </ul>
                            {% endif %}
                        {% else %}
                            <ul>
                                <li><a href="{{ path('terra_nova_enseigant_connection')}}" class="connexion-popover">se connecter</a></li>
                                <li><a href="{{ path('terra_nova_enseigant_register')}}">s'inscire</a></li>
                            </ul>
                        {% endif %}
                        <ul>
                            <li><a href="{{ path('terra_nova_homepage')}}#game">Le jeu</a></li>
                            <li><a href="{{ path('terra_nova_homepage')}}#principle">Le principe</a></li>
                            <li><a href="{{ path('terra_nova_homepage')}}#team">L'équipe</a></li>
                            <li><a href="{{ path('terra_nova_homepage')}}#contact">Contact</a></li>
                        </ul>
                    {% else %}
                        {% if is_granted("ROLE_ENSEIGNANT") %}
                            <ul>
                                <li class="title-user"><p>Bonjour {{app.user.name}} {{app.user.lastName}}<br /><span>{% if app.user.currentClass %}Classe courrante : {{ app.user.currentClass.name }}{% else %}Pas de classe courante{% endif %}</span></p></li>
                            </ul>
                            <ul>
                                {% if app.user.etablissement != null %}
                                    <li><a href="{{ path('terra_nova_theme_index') }}">les thèmes</a></li>
                                    <li><a href="{{ path('seance') }}">mes séances</a></li>
                                    <li><a href="{{ path('Eleve_by_etablissement') }}">mes élèves</a></li>
                                {% else %}
                                    <li><a href="{{ path('etablissement') }}" >Choisir son établissement</a></li>
                                {% endif %}
                                <li><a href="{{ path('terra_nova_enseignant_profile_show') }}">mon compte</a></li>
                                <li><a href="{{ path('terra_nova_logout') }}"><i class="icon-off"></i>deconnection</a></li>
                            </ul>
                        {% endif %}
                    {% endif %}
                </div>
            </nav>
            <div class="scroller">
                <header>
                    <div class="navbar container" id="navbar">
                        <div class="navbar-inner">
                            <ul class="nav full pull-left">
                                <li><a href="#" id="trigger" class="menu hidden-menu show-mobile"><i class="icon-align-justify"></i></a></li>
                            </ul>
                            <a class="brand" href="{{ path('terra_nova_homepage')}}"><img src="{{ asset('bundles/terranova/img/logo.png') }}" alt="Wipo"/></a>
                            {% if app.request.attributes.get('_route') == ('terra_nova_homepage') %}
                                <ul class="nav full pull-left hidden-tablette">
                                    <li><a href="{{ path('terra_nova_homepage')}}#game">Le jeu</a></li>
                                    <li><a href="{{ path('terra_nova_homepage')}}#principle">Le principe</a></li>
                                    <li><a href="{{ path('terra_nova_homepage')}}#team">L'équipe</a></li>
                                    <li><a href="{{ path('terra_nova_homepage')}}#contact">Contact</a></li>
                                </ul>
                                {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                                    {% if is_granted("ROLE_ENSEIGNANT") %}
                                        <ul class="nav full pull-right hidden-mobile">
                                            {% if app.user.etablissement != null %}
                                                <li class="hidden-tablette" ><a href="{{ path('Eleve_by_etablissement') }}">côté enseignant</a></li>
                                            {% else %}
                                                <li class="hidden-tablette" ><a href="{{ path('etablissement') }}">côté enseignant</a></li>
                                            {% endif %}
                                            <li class="title-user right"><p>Bonjour {{app.user.name}} {{app.user.lastName}}<br /><span>{% if app.user.currentClass %}Classe courrante : {{ app.user.currentClass.name }}{% else %}Pas de classe courante{% endif %}</span></p></li>
                                        </ul>
                                    {% endif %}
                                    {% if is_granted("ROLE_ADMIN") %}
                                        <ul class="nav full pull-right hidden-mobile">
                                            <li class="hidden-tablette" ><a href="{{ path('terra_nova_admin_index') }}">côté admin</a></li>
                                            <li class="title-user right"><p>Bonjour {{app.user.name}} {{app.user.lastName}}<br /><span>Administrateur</span></p></li>
                                        </ul>
                                    {% endif %}
                                {% else %}
                                    <ul class="nav full pull-right hidden-mobile">
                                        <li><a href="#" class="connexion-popover" data-toggle="popover" data-html="true" data-placement="bottom" data-content="{% render(controller('FOSUserBundle:Security:login')) %}" >se connecter</a></li>
                                        <li><a href="{{ path('terra_nova_enseigant_register')}}">s'inscire</a></li>
                                    </ul>
                                {% endif %}
                            {% else %}
                                {% if is_granted("ROLE_ENSEIGNANT") %}
                                    <ul class="nav full pull-left hidden-tablette">
                                        <li class="title-user"><p>Bonjour {{app.user.name}} {{app.user.lastName}}<br /><span>{% if app.user.currentClass %}Classe courrante : {{ app.user.currentClass.name }}{% else %}Pas de classe courante{% endif %}</span></p></li>
                                    </ul>
                                    <ul class="nav full pull-right hidden-tablette">
                                        {% if app.user.etablissement != null %}
                                            <li><a href="{{ path('terra_nova_theme_index') }}">les thèmes</a></li>
                                            <li><a href="{{ path('seance') }}">mes séances</a></li>
                                            <li><a href="{{ path('Eleve_by_etablissement') }}">mes élèves</a></li>
                                        {% else %}
                                            <li><a href="{{ path('etablissement') }}" >Choisir son établissement</a></li>
                                        {% endif %}
                                        <li><a href="{{ path('terra_nova_enseignant_profile_show') }}">mon compte</a></li>
                                        <li><a href="{{ path('terra_nova_logout') }}"><i class="icon-off"></i></a></li>
                                    </ul>
                                {% endif %}
                            {% endif %}
                        </div>
                    </div>
                </header>
                <div class="contenu">
                    {% block body %}{% endblock %}
                </div>
                <footer>
                    <div class="first-footer">
                        <div class="container">
                            <div class="row">
                                <div class="span3">
                                    <ul>
                                        <li>Le site</li>
                                        {% if is_granted("ROLE_ENSEIGNANT") %}
                                            <li>Les thème</li>
                                            <li>Mes séances</li>
                                            <li>Mes élèves</li>
                                            <li>Mon compte</li>
                                        {% else %}
                                            <li>Wipo</li>
                                            <li>Le principe</li>
                                            <li>L'équipe</li>
                                            <li>Contact</li>
                                        {% endif %}
                                    </ul>
                                </div>
                                <div class="span3">
                                    <ul>
                                        <li>Général</li>
                                        <li>Mentions légales</li>
                                        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                                            <li>Contact</li>
                                        {% else %}
                                            <li>S'incrire</li>
                                            <li>Se connecer</li>
                                        {% endif %}
                                    </ul>
                                </div>
                                <div class="span6">
                                    <div class="flex">
                                        <img class="wipo-footer" src="{{ asset('bundles/terranova/img/wipo-footer.png') }}" alt="wipo-footer">
                                        <p><span class="download">Télécharger <span class="free">gratuitement</span></span><br />l’application Wipo pour iPad et Android</p>
                                    </div>
                                    <img class="download-app" src="{{ asset('bundles/terranova/img/appstore.png') }}" alt="appstore">
                                    <img class="download-app" src="{{ asset('bundles/terranova/img/playstore.png') }}" alt="playstore">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="last-footer">
                        <div class="container">
                            <div class="row">
                                <div class="span6 hidden-mobile">
                                    <p>Wipo © Kevin Budain, Julie Muckensturm, Glenn Sonna | 2014</p>
                                </div>
                                <div class="span6">
                                     <p>
                                        <img src="{{ asset('bundles/terranova/img/logo-gobelins.png') }}" alt="gobelins">
                                        <img src="{{ asset('bundles/terranova/img/logo-cci.png') }}" alt="cci">
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </footer>
            </div>
        </div>
        {# Script for FOS Js routing #}
        <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
        <script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>
        {% javascripts
            'jquery/jquery.js'
            'jquery/jquery-ui.js'
            'bundles/terranova/js/modernizr.custom.js'
            'bundles/terranova/js/classie.js'
            'bundles/terranova/js/mlpushmenu.js'
            'bundles/terranova/sass-bootstrap/js/bootstrap-tooltip.js'
            'bundles/terranova/sass-bootstrap/js/bootstrap-popover.js'
            'bundles/terranova/sass-bootstrap/js/bootstrap-scrollspy.js'
            'bundles/terranova/sass-bootstrap/js/bootstrap-carousel.js'
            'bundles/terranova/sass-bootstrap/js/bootstrap-transition.js'
            'bundles/terranova/sass-bootstrap/js/bootstrap-dropdown.js'
            'bundles/terranova/sass-bootstrap/js/bootstrap-tab.js'
        %}
        <script src="{{ asset_url }}"></script>
        {% endjavascripts %}
        <script>
            // add menuSlider
            var menu = new mlPushMenu( 
                document.getElementById( 'mp-menu' ), 
                document.getElementById( 'trigger' ));

            // close menuSlider if you click in a link
            $('.mp-menu a').click(function() {
                menu._resetMenu();
            });

            $('.connexion-popover').popover();

            $('#navbar').scrollspy({
                offset: 100
              });
            // $(".navbar ul li a[href^='#']").on('click', function(e) {

            //    // prevent default anchor click behavior
            //    e.preventDefault();

            //    // store hash
            //    var hash = this.hash;
            //    console.log($(this.hash).offset().top-60);
            //    console.log($(this.hash).offset().top);
            //    // animate
            //    $('.scroll-area').animate({
            //        scrollTop: $(this.hash).offset().top
            //      }, 300, function(){

            //        // when done, add hash to url
            //        // (default click behaviour)
            //        // window.location.hash = hash;
            //      });

            // });

        </script>
        {% block javascripts %}{% endblock %}
    </body>
</html>
