{% extends "::base.html.twig" %}

{% block title %}Enseignant | Confirmation{% endblock %}

{% trans_default_domain 'FOSUserBundle' %}

{% block body %}
	<div class="container inscription">
	    <p class="error-content">{{ 'registration.confirmed'|trans({'%username%': user.username}) }}</p>
		<p><a class="back" href="{{ path('terra_nova_homepage') }}"><img src="{{ asset('bundles/terranova/img/back-button.png') }}" alt="back-button">retour</a></p>
	
	</div>
    {% if app.session is not empty %}
        {% set targetUrl = app.session.get('_security.' ~ app.security.token.providerKey ~ '.target_path') %}
        {% if targetUrl is not empty %}<p><a href="{{ targetUrl }}">{{ 'registration.back'|trans }}</a></p>{% endif %}
    {% endif %}

{% endblock  %}