{% extends '::baseAdmin.html.twig' %}

{% block title %} Admin | Trophée{% endblock %}

{% block body -%}
    <div id="breadcrumb">
        <a href="{{ path('trophy') }}" title="" class="tip-bottom">Trophés</a>
    </div>

    {% if entities %}
        <div class="container">
            <div class="row">
                <ul>
                {% for entity in entities %}
                    <li class="span2 reward-badge">
                        <div>Nom : {{ entity.name }}<br />Type : {{ entity.type }}<br />Sous-thème : {{entity.sousTheme.name }}</div>
                        <img src="/img/trophy/{{ entity.path }}" alt="{{ entity.name }}" />
                        <div class="badge-hover">
                            <a href="{{ path('trophy_edit', { 'id': entity.id }) }}">editer</a> 
                        </div>
                    </li>
                {% endfor %}
                </ul>
            </div>
        </div>
    {% else %}
        <p>Il n'y a pas de trophé</p>
    {% endif %}
    <p><a href="{{ path('trophy_new') }}">Créer un trophé</a></p>

{% endblock %}
