{% extends '::baseAdmin.html.twig' %}

{% block title %} Admin | Badge{% endblock %}

{% block body -%}
    <div id="breadcrumb">
        <a href="{{ path('badge') }}" title="" class="tip-bottom">Badge</a>
    </div>

    {% if entities %}
        <div class="container">
            <div class="row">
                {% for entity in entities %}
                    <div class="span3 reward-badge">
                        <div>Nom : {{ entity.name }}</div>
                        <img src="/img/badge/{{ entity.path }}" alt="{{ entity.name }}" />
                        <div class="badge-hover">
{#                             <a href="{{ path('badge_show', { 'id': entity.id }) }}">voir</a><br /> #}
                            <a href="{{ path('badge_edit', { 'id': entity.id }) }}">editer</a> 
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    {% else %}
        <p>Il n'y a pas de badge</p>
    {% endif %}
    <a href="{{ path('badge_new') }}">Créer un badge</a>
{% endblock %}
