{% extends '::baseAdmin.html.twig' %}

{% block title %}Admin | Bagde création{% endblock %}

{% block body -%}
	<div id="breadcrumb">
      <a href="{{ path('badge') }}" title="" class="tip-bottom">Badge</a>
      <span class="current">Création d'un badge</span>
    </div>

    {{ form_start(form, { 'attr': {'class' : 'form-horizontal'} }) }}
    <div class="control-group">
        <label class="control-label">Name</label>
        <div class="controls">
            {{ form_widget(form.name) }}
        </div>
    </div>
    <div class="control-group">
        <label class="control-label">Sous Thème</label>
        <div class="controls">
            {{ form_widget(form.sousTheme) }}
        </div>
    </div>
    <div class="control-group">
        <label class="control-label">Image</label>
        <div class="controls">
            {{ form_widget(form.file) }}
        </div>
    </div>

    {{ form_widget(form._token) }}
    <div class="control-group">
        <div class="controls">
            <button type="submit" class="btn btn-primary">Créer</button>
            <a href="{{ path('badge') }}"class="btn btn-default">Retour</a>
        </div>
    </div>

{% endblock %}
