{% extends '::base.html.twig' %}

{% block title %}Etablissement | Liste{% endblock %}

{% block body %}
    <div class="container inscription">
        <h3>Liste des établissements</h3>
        <p>Vous devez choisir un établissement ou rajouté le votre avant de continuer</p>
        {% if entities %}
            <table class="table table-striped">
                <tr>
                    <th>Numeronational</th>
                    <th>Name</th>
                    <th>Type</th>
                    <th>Adresse</th>
                    <th>Codepostal</th>
                    <th>Ville</th>
                    <th>Actions</th>
                </tr>
            {% for entity in entities %}
                <tr>
                    <td>{{ entity.numeroNational }}</td>
                    <td>{{ entity.name }}</td>
                    <td>{{ entity.type }}</td>
                    <td>{{ entity.adresse }}</td>
                    <td>{{ entity.codePostal }}</td>
                    <td>{{ entity.ville }}</td>
                    <td>
                        <a href="{{ path('etablissement_choose', { 'id': entity.id }) }}">choose</a>
                    </td>
                </tr>
                {% endfor %}
            </table>
        {% else %}
            <p>Il n'y a pas d'établissement</p>
        {% endif %}
        <a class="btn" href="{{ path('etablissement_new') }}">Create votre établissement</a>
    </div>
{% endblock %}