{% extends '::baseAdmin.html.twig' %}

{% block title %}Admin | Thèmes edit{% endblock %}

{% block body -%}
    <div id="breadcrumb">
      <a href="{{ path('theme') }}" title="" class="tip-bottom">Thèmes</a>
      <span class="current">{{ entity.name }}</span>
    </div>

    {# {{ form(edit_form) }} #}
    {{ form_start(edit_form, { 'attr': {'class' : 'form-horizontal'} }) }}
    <div class="control-group">
        <label class="control-label">Nom</label>
        <div class="controls">
            {{ form_widget(edit_form.name) }}
        </div>
    </div>
    {{ form_widget(edit_form._token) }}
    <div class="control-group">
        <div class="controls">
            <button type="submit" class="btn btn-primary">Mettre à jour</button>
            <a href="{{ path('theme') }}"class="btn btn-default">Retour</a>
        </div>
    </div>
    {{ form_end(edit_form) }}
    
    {{form_start(delete_form)}}
    	<button type="submit" class="btn btn-danger">Supprimer</button>
    {{ form_end(delete_form) }}
{% endblock %}
