{% extends '::baseAdmin.html.twig' %}

{% block title %}Admin | Thèmes{% endblock %}

{% block body -%}
    <div id="breadcrumb">
      <a href="{{ path('theme') }}" title="" class="tip-bottom">Thèmes</a>
    </div>
    {% if entities %}
        <table class="table table-striped">
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Sous Theme</th>
                <th>Actions</th>
            </tr>
            {% for entity in entities %}
                <tr>
                    <td><a href="{{ path('theme_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                    <td>{{ entity.name }}</td>
                    <td>
                        {% if entity.sousTheme is null %}
                            {% for sousTheme in entity.sousTheme %}
                                {{ sousTheme.name }}
                            {% endfor %}
                        {% else %}
                            pas de sous themes
                        {% endif %}
                    </td>
                    <td>
                        <a href="{{ path('theme_show', { 'id': entity.id }) }}">voir</a><br />
                        <a href="{{ path('theme_edit', { 'id': entity.id }) }}">editer</a>
                    </td>
                </tr>
            {% endfor %}
        </table>
    {% else %}
        <p>Il n'y a pas de thème.</p>
    {% endif %}

    <a href="{{ path('theme_new') }}" class="btn btn-default">Creer un thème</a>
    {% endblock %}
