<div class="row">
	{{ form_start(form) }}
		<div class="span6">
			<label>nom</label>
			{{ form_widget(form.name) }}
			<label>prenom</label>
			{{ form_widget(form.firstName) }}
			<label>adresse e-mail</label>
			{{ form_widget(form.email) }}
			<label>vous êtes ...</label>
			{{ form_widget(form.youAre) }}
		</div>
		<div class="span6">
			<label>votre message</label>
			{{ form_widget(form.message) }}
			<button type="submit" class="btn btn-primary">Envoyer</button>
		</div>
	{{ form_end(form) }}
</div>