<div class="row">
	{{ form_start(form) }}
		<div class="span4">
			<label>nom</label>
			{{ form_widget(form.name) }}
			<label>prenom</label>
			{{ form_widget(form.firstName) }}
			<label>adresse e-mail</label>
			{{ form_widget(form.email) }}
			<label>vous êtes ...</label>
			{{ form_widget(form.youAre) }}
		</div>
		<div class="span8">
			<label>votre message</label>
			{{ form_widget(form.message) }}
			<input type="image" src="{{ asset('bundles/terranova/img/input/sendMail.png') }}"/>
		</div>
	{{ form_end(form) }}
</div>