{% extends '::base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block stylesheets %}
    {% stylesheets
        'bundles/terranova/css/homepage.sass'
        filter="cssrewrite,sass" output='css/homepage.css' %}
           <link href="{{ asset_url }}" type="text/css" rel="stylesheet" />
    {% endstylesheets %}
{% endblock %}

{% block body %}
	
	<img class="wipo-animate" id="masuperimage" src="{{ asset('bundles/terranova/img/wipo-anime/wipo1.png') }}">
	<div class="scroll-area" data-spy="scroll" data-target="#navbar">
		<div id="game" class="game">
{#  			<div class="game-title">
				<h4>Le jeu</h4>
				<h1>La pédagogie en réalité augmentée</h1>
			</div>
			<div class="command">
				<button class="btn">commander le jeu</button>
			</div> #}
			<div id="myCarousel" class="carousel slide">
			  <ol class="carousel-indicators">
			    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
 			    <li data-target="#myCarousel" data-slide-to="1"></li>
			  </ol>
			  <!-- Carousel items -->
			  <div class="carousel-inner">
			    <div class="active item" style="background-image:url({{ asset('img/slide/slide1.png') }});"></div>
				<div class="item" style="background-image:url({{ asset('img/slide/slide2.png') }});"></div>
			  </div>
			  <!-- Carousel nav -->
			  <a class="carousel-control left" href="#myCarousel" data-slide="prev"><img src="{{ asset('bundles/terranova/img/slide/left.png') }}"></a>
			  <a class="carousel-control right" href="#myCarousel" data-slide="next"><img src="{{ asset('bundles/terranova/img/slide/right.png') }}"></a>
			</div>
		</div>
		<div class="cloud-background">
			<div class="teaser container">
				<h4>Découvre le teaser</h4>
				<div class="teaser-content">
					<img src="{{ asset('uploads/teaser.png') }}">
				</div>
			</div>
	 		<div id="principle" class="principle">
				<h4>Comment ça marche</h4>
				<div class="principle-content">
					<img class="hidden-mobile" src="{{ asset('uploads/principle.png') }}">
					<img class="principe-mobile" src="{{ asset('uploads/principle-mobile.png') }}">
				</div>
			</div>
			<div id="team" class="team">
				<div class="container">
					<h4>L'équipe</h4>
					<p>Wipo est le projet de 3 étudiants Concepteurs Réalisateurs Multimédia à Gobelins, l'École de l’Image :</p>
					<div class="row">
						<div class="span4">
							<div>
								<img src="{{ asset('bundles/terranova/img/team/julie.png') }}" alt="julie" class="img-circle">
								<p><span>Kévin Budain</span><br />Développeur<br />lowki93.free.fr</p>
							</div>
						</div>
						<div class="span4">
							<div>
								<img src="{{ asset('bundles/terranova/img/team/julie.png') }}" alt="julie" class="img-circle">
								<p><span>Julie Muckensturm</span><br />Designer intéractif<br />sneups.net</p>	
							</div>
						</div>
						<div class="span4">
							<div>
								<img src="{{ asset('bundles/terranova/img/team/glenn.png') }}" alt="julie" class="img-circle">
								<p><span>Glenn Sonna</span><br />Développeur<br />glennsonna.fr</p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div id="contact" class="contact">
				<div class="container">
					<h4>Venez nous dire coucou</h4>
					{{ render(controller('TerraNovaBundle:Default:contact')) }}
				</div>
			</div>
		</div>
	</div> 

{% endblock %}

{% block javascripts %}

	<script> 

	    $('.carousel').carousel({
            interval: 5000
        })

		// Un tableau qui va contenir toutes tes images.
		var images = new Array();
		images.push("{{ asset('bundles/terranova/img/wipo-anime/wipo2.png') }}");
		images.push("{{ asset('bundles/terranova/img/wipo-anime/wipo3.png') }}");
		images.push("{{ asset('bundles/terranova/img/wipo-anime/wipo4.png') }}");
		images.push("{{ asset('bundles/terranova/img/wipo-anime/wipo5.png') }}");
		images.push("{{ asset('bundles/terranova/img/wipo-anime/wipo6.png') }}");
		images.push("{{ asset('bundles/terranova/img/wipo-anime/wipo7.png') }}");
		images.push("{{ asset('bundles/terranova/img/wipo-anime/wipo8.png') }}");
		images.push("{{ asset('bundles/terranova/img/wipo-anime/wipo9.png') }}");
		images.push("{{ asset('bundles/terranova/img/wipo-anime/wipo10.png') }}");
		images.push("{{ asset('bundles/terranova/img/wipo-anime/wipo11.png') }}");
		images.push("{{ asset('bundles/terranova/img/wipo-anime/wipo12.png') }}");
		images.push("{{ asset('bundles/terranova/img/wipo-anime/wipo13.png') }}");
		images.push("{{ asset('bundles/terranova/img/wipo-anime/wipo14.png') }}");
		images.push("{{ asset('bundles/terranova/img/wipo-anime/wipo15.png') }}");
		images.push("{{ asset('bundles/terranova/img/wipo-anime/wipo16.png') }}");
		images.push("{{ asset('bundles/terranova/img/wipo-anime/wipo17.png') }}");
		images.push("{{ asset('bundles/terranova/img/wipo-anime/wipo1.png') }}");

		 
		var pointeur = 0;
		 
		function ChangerImage(){
		document.getElementById("masuperimage").src = images[pointeur];
		 
			if(pointeur < images.length - 1)
				pointeur++;
			else
				pointeur = 0;
		 
			setTimeout("ChangerImage()", 50)
		}
		 
		// Charge la fonction
		window.onload = function(){
		ChangerImage();

	}
	</script>
{% endblock %}
