{% if seances %}
	<ul class="theme-list">
		{% for seance in seances %}
			<a href="#">
				<li>
				    <div class="img-conteneur">
				        <img src="/img/theme/{{ seance.theme.path }}" alt="{{ seance.theme.name }}" />
				    </div>
				    <p>{{ seance.theme.name }}</p>
				    <span>joué le {{ seance.date|date('d/m/Y') }}<br />à {{seance.heure|date('H:i')}}<br />Classe : {{seance.classe.name}}</span>
				</li>
			</a>
		{% endfor %}
	</ul>
{% else %}
    Aucune séance
{% endif %}