{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Seance list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Date</th>
                <th>Heure</th>
                <th>Intro</th>
                <th>Test</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('seance_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{% if entity.date %}{{ entity.date|date('Y-m-d') }}{% endif %}</td>
                <td>{{ entity.heure|date('H:i') }}</td>
                <td>{{ entity.intro }}</td>
                <td>{{ entity.test }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('seance_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('seance_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('seance_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
