{% extends '::base.html.twig' %}

{% block title%}Enseignant | Séances{% endblock %}

{% block body -%}
        <div class="container">
        <h1>Seance</h1>

        <table class="record_properties">
            <tbody>
                <tr>
                    <th>Id</th>
                    <td>{{ entity.id }}</td>
                </tr>
                <tr>
                    <th>Date</th>
                    <td>{{ entity.date|date('Y-m-d') }}</td>
                </tr>
                <tr>
                    <th>Heure</th>
                    <td>{{ entity.heure|date('H:i:s') }}</td>
                </tr>
                <tr>
                    <th>Intro</th>
                    <td>{{ entity.intro }}</td>
                </tr>
                <tr>
                    <th>Test</th>
                    <td>{{ entity.test }}</td>
                </tr>
            </tbody>
        </table>

            <ul class="record_actions">
        <li>
            <a href="{{ path('seance') }}">
                Back to the list
            </a>
        </li>
        <li>
            <a href="{{ path('seance_edit', { 'id': entity.id }) }}">
                Edit
            </a>
        </li>
        <li>{{ form(delete_form) }}</li>
    </ul>
    </div>
{% endblock %}
