<h4>Changer mon mot de passe</h4>
<form action="{{ path('terra_nova_enseignant_profil_change_password') }}" {{ form_enctype(form) }} method="POST">
    {{ form_widget(form) }}
    <input type="image" src="{{ asset('bundles/terranova/img/button/validate.png') }}"/>
</form>

{% for type, messages in app.session.flashbag.all() %}
    {% for message in messages %}
        <div class="flash-{{ type }}">
            {{ message }}
        </div>
    {% endfor %}
{% endfor %}